.footer {
  background-color: #F8F8FF;
  a {
    color: #9393B3;
    text-decoration: none;
  }
  .copyright {
    font-size: 14px;
  }
  .illustration-wrapper {
    img {
      max-width: 90%;
    }
  }
}
