<section class="section services py-5 my-5">
  <div class="container">
    <div class="row justify-content-left pb-5">
      <div class="col-12 col-xl-8 text-center text-lg-start text-xl-start">
        {{ with .content.title }}
          <h3 class="section-title pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="section-subtitle pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row g-5">
      {{ range .content.cards }}
        <div class="col-12 col-lg-4 col-xl-4 card-wrapper">
          <div class="card bg-white border-0 border-radius-34 p-4">
            <div class="card-body text-center">
              {{ with .title }}<h4 class="card-title text-center pb-4">{{ . }}</h4>{{ end }}
              {{ with .text }}<p class="card-text pb-4">{{ . }}</p>{{ end }}
              {{ with .button }}<a class="btn btn-outline-primary px-4" href="{{ .url }}">{{ .label }}</a>{{ end }}
            </div>
            <div class="text-center illustration-wrapper">
              {{ with .image }}{{ partial "utilities/image.html" . }}{{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
