<section class="section trackrecords py-5">
  <div class="container">
    <div class="row justify-content-left pb-5">
      {{ with .content.title }}
        <div class="section-title text-center text-lg-start text-xl-start"> {{ . | markdownify }} </div>
      {{ end }}
    </div>
    <div class="row justify-content-left pb-5">
      {{ range .content.record }}
        <div class="col-6 col-lg-4 col-xl-4 record text-align-left pt-4 pb-4">
          {{ with .line1 }}<div class="line1"> {{ . | markdownify }} </div>{{ end }}
          {{ with .line2 }}<div class="line2"> {{ . | markdownify }} </div>{{ end }}
          {{ with .line3 }}<div class="line3"> {{ . | markdownify }} </div>{{ end }}
        </div>
      {{ end }}  
    </div>
    <div class="row justify-content-center pb-2 pt-2">
      <hr/>
    </div>
    <div class="pb-5 d-flex flex-wrap justify-content-between align-items-center portfolio-logo">
      {{ range .content.logos }}
          {{ partial "utilities/image.html" .image }}
      {{ end }}  
    </div>
  </div>
</section>
