.section.services {
  .section-subtitle {
    font-size: 20px;
  }
  .card-title {
    font-family: 'PT Serif';
    font-size: 32px;
    font-weight: 600;
    color: #464657;
  }
  .card-text {
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 20px;
    color: #71729C;
  }
  .card-wrapper {
    display: flex;
  }
}