.section.services {
  .card-title {
    font-family: 'PT Serif';
    font-weight: 600;
    color: #464657;
  }
  .card-text {
    font-family: 'General Sans';
    font-weight: 500;
    color: #71729C;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
  }

  @include media-breakpoint-down(lg){
    .section-subtitle {
      font-size: 15px;
    }
    .card-title {
      font-size: 24px;
    }
    .card-text {
      font-size: 20px;
    }
    .illustration-wrapper {
      img {
        max-width: 200px;
      }
    }
  }
  @include media-breakpoint-up(lg){
    .section-subtitle {
      font-size: 20px;
    }
    .card-title {
      font-size: 30px;
    }
    .card-text {
      font-size: 15px;
    }
    .illustration-wrapper {
      img {
        width: 100%;
      }
    }
  }
}